nav {
    .navbar-actions {
        max-width: 420px;
        flex: 1;
    }

    ul {
        margin-left: auto;
        flex-direction: row;
        li {
            display: block;
            padding: 15px;
        }
    }
}

.project-list {
    .project-item {
        display: block;

        .project-item-header {
            overflow: hidden;
            h3 {
                float: left;
            }
            button {
                float: right;
            } 
        }

        .project-item-users {
            overflow: hidden;
            a {
                float: left;
                margin: 0 8px;
                color: #000;
                &:hover {
                    text-decoration: none;
                }
            }
            .project-owner, .project-user, .project-user-add {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 75px; 
                text-align: center;
                box-sizing: content-box;

                span {
                    display: flex;
                    width: 75px;
                    height: 75px;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #000;
                    border-radius: 50px;
                    margin-bottom: 15px;
                }
            }
            .project-owner {
                border-right: 1px solid #000;
                padding-right: 16px;
            }
            .project-user-add {
                span {
                    color: #fff;
                    background-color: #8BB3D5;
                }
            }
        }
    }

    .project-item-add {
        margin-top: 60px;
    }
}

.settings-popover {
    .color-settings {
        display: flex;
        flex-flow: row wrap;
        button {
            flex-basis: 20%;
            color: #fff;
            border-radius: 0;

            > * {
                visibility: hidden;
            }

            &.selected {
                > * {
                    visibility: visible;
                }
            }
        }
    }
}