<nav class="navbar navbar sticky-top flex-md-nowrap p-0 mb-3">
  <div class="navbar-actions">
    <form action="">
      <input type="text" class="form-control" placeholder="Search">
    </form>
  </div>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <i-feather name="user"></i-feather>
    </li>
    <li class="nav-item text-nowrap">
      <i-feather name="bell"></i-feather>
    </li>
  </ul>
</nav>

<div class="updates-container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="mb-5">
        Updates for {{ project?.name }}
        <small>
          <span 
          class="badge" 
          [ngStyle]="{'background-color': project?.color ? '#' + project?.color + '!important' : '#fff'}"
          [ngClass]="{'badge-danger': project && !project.public, 'badge-success': project?.public}">{{ project && project?.public ? 'public' : 'private' }}
        </span>
        </small>
      </h3>

      <div class="update-form mb-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">+</span>
          </div>
          <input type="text" class="form-control" placeholder="What are you going to accomplish today..."
            aria-label="update" aria-describedby="basic-addon1" (keyup.enter)="postUpdate()" [(ngModel)]="updateText">
        </div>
      </div>

      <div class="update-timeline">
        <p *ngIf="updates.length === 0"><i>This project doesn't have any update yet</i></p>
        <nz-timeline>
          <nz-timeline-item *ngFor="let groupedUpdates of updates">
            <p>{{ groupedUpdates.startDate | date }}</p>
            <p *ngIf="groupedUpdates.data.length === 0"><i>There's no updates for this date</i></p>

            <p *ngFor="let update of groupedUpdates.data">
              <b>{{ update.user.name }}</b> - {{ update.createdAt | date: 'H:mm' }}: {{ update.content }}
            </p>

          </nz-timeline-item>
        </nz-timeline>

        <button class="btn btn-primary" *ngIf="this.pagination.total_pages > this.pagination.page"
          (click)="loadMore()">Load More</button>

        <!-- <nz-timeline>
          <nz-timeline-item *ngFor="let update of updates">
            <p>{{ update.title }}</p>
            <p>{{ update.content }}</p>
          </nz-timeline-item>
        </nz-timeline>

        <ng-template #dotTemplate>
          <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
        </ng-template> -->
      </div>
    </div>

    <div class="col-md-4">
      <h3 class="mb-5">
        <!-- {{ user?.name }} -->
      </h3>

      <ngb-datepicker #dp  (navigate)="date = $event.next"></ngb-datepicker>
    </div>
  </div>
</div>
