:host {
    width: 100%;
    margin: 0 15px;
    display: flex;
    justify-content: center;
}

.center-box {
    padding: 30px;
    padding-top: 40%;
    border: 1px dashed black;
    width: 100%;
    max-width: 480px;
}